@media screen and (max-width: 600px) {

    html {
        height: 100%;
        overflow: hidden;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        background-repeat:no-repeat;
    }

    body {
        height: 100%;
        overflow: hidden;
    }

    .container.main {
        width: 90%;
    }

    .container.picker {
        width: 90%;
    }

    .picker-container {
        height: 40vh;
    }

    .title {
        display: inline-block;
        width: 75%;
        margin: 0 auto;
        margin-top: 0px;
        padding: 20px 0;
        text-align: center;
    }
    
    .score {
        width: 25%;
    }

    .pick-paper, .pick-scissors, .pick-rock {
        top: -100%;
        margin: 10px auto;
        transform: scale(1);
    }

    .symbols-select {
        display: flex;
        width: 20%;
        padding: 5% 0;
        align-items: center;
        justify-content: center;
        animation-name: appear;
        animation-duration: 0.75s;
        animation-timing-function: ease-out;
        animation-iteration-count: 1;
    }

    .play-again {
        display: block;
        z-index: 1;
        position: relative;
        top: 20px;
        width: 120px;
        padding: 2% 5%;
        margin: 0 auto;
        background-color: rgba(255, 255, 255, 1);
        color: hsl(217, 16%, 45%);
        font-family: var(--fontFam);
        font-size: 1rem;
        text-align: center;
        border-radius: 10px;
        border: solid 2px hsl(217, 16%, 45%);
    }
    
    .player-status {
        position: absolute;
        top: 570px;
        width: 100%;
        left: 0px;
        margin: 0 auto;
        color: white;
        font-family: var(--fontFam);
        font-size: 1rem;
        text-align: center;
    }

    .player-pick {
        position: absolute;
        width: 200px;
        top: 500px;
        left: -15px;
        color: white;
        font-family: var(--fontFam);
        font-size: 1rem;
        text-align: center;
    }
    
    .cpu-pick {
        position: absolute;
        width: 200px;
        top: 500px;
        right: -15px;
        color: white;
        font-family: var(--fontFam);
        font-size: 1rem;
        text-align: center;
    }
    
    

    .bg-image {
        width: 100%;
        transform: scale(0.75);
    }

    .rules-btn {
        bottom: 65px;
        transform: scale(0.75);
    }

    .reset-score {
        bottom: 20px;
        transform: scale(0.75);
    }

}