
:root {
    --fontFam: 'Barlow Semi Condensed', sans-serif;
}

html {
    height: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat:no-repeat;
}

body {
    margin: 0%;
    padding: 0%;
    background: -moz-radial-gradient(hsl(213,30%,18%) 0%, hsl(237,33%,11%) 100%); /* FF3.6-15 */
    background: -webkit-radial-gradient(hsl(213,30%,18%) 0%,hsl(237,33%,11%) 100%); /* Chrome10-25,Safari5.1-6 */
    background: radial-gradient(hsl(213,30%,18%) 0%,hsl(237,33%,11%) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */

}

/* Containers */

.container.main {
    width: 800px;
    margin: 10px auto;
    padding: 50px auto;
    border: solid 2px hsl(217, 16%, 45%);
    border-radius: 10px;
}

.container.picker {
    width: 30%;
    height: 100%;
    margin: 2% auto;
    padding: 400px auto;
}

/* Div / Blocks */

.title {
    display: inline-block;
    width: 75%;
    margin: 0 auto;
    margin-top: 10px;
    padding-top: 10px;
    text-align: center;
}

.score {
    display: inline-block;
    width: 12%;
    margin: auto;
    margin-bottom: 20px;
    padding: 0;
    text-align: center;
    background: white;
    border-radius: 10px;
}

.pick-symbol {
    color: white;
    font-family: var(--fontFam);
    width: 100%;
    margin: 50px auto;
    text-align: center;
}

.symbol-bg {
    background-color: white;
    border: solid 10px red;
    border-radius: 50%;
    padding: 20px;
}

/* Text elements / InnerText */

.text-title {
    color: white;
    font-family: var(--fontFam);
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 15px;
    width: 100%;
    text-align: left;
}

.text-score {
    color: hsl(229, 64%, 46%);
    font-family: var(--fontFam);
    font-size: 0.75rem;
    line-height: 2px;
    width: 100%;
    margin-top: 15px;
    text-align: center;
}

.score-value {
    color: hsl(229, 25%, 31%);
    font-family: var(--fontFam);
    font-size: 3rem;
    line-height: 40px;
    width: 100%;
    margin-bottom: 15px;
    text-align: center;
}