
@import "animations.css";

:root {
    --fontFam: 'Barlow Semi Condensed', sans-serif;
    --scissor-color: radial-gradient(hsl(39, 89%, 49%) 0%, hsl(40, 84%, 53%) 100%);
}

html {
    height: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat:no-repeat;
}

body {
    margin: 0%;
    padding: 0%;
    background: -moz-radial-gradient(hsl(213,30%,18%) 0%, hsl(237,33%,11%) 100%); /* FF3.6-15 */
    background: -webkit-radial-gradient(hsl(213,30%,18%) 0%,hsl(237,33%,11%) 100%); /* Chrome10-25,Safari5.1-6 */
    background: radial-gradient(hsl(213,30%,18%) 0%,hsl(237,33%,11%) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */

}

/* Containers */

.container.main {
    width: 800px;
    margin: 10px auto;
    padding: 50px auto;
    border: solid 2px hsl(217, 16%, 45%);
    border-radius: 10px;
}

.container.picker {
    width: 800px;
    height: 100%;
    margin: 10% auto;
    padding: 400px auto;
}

/* Div / Blocks */

.title {
    display: inline-block;
    width: 75%;
    margin: 0 auto;
    margin-top: 10px;
    padding-top: 10px;
    text-align: center;
}

.score {
    display: inline-block;
    width: 12%;
    margin: auto;
    margin-bottom: 20px;
    padding: 0;
    text-align: center;
    background: white;
    border-radius: 10px;
}

.pick-symbol {
    display: block;
    float: left;
    position: relative;
    top: -400px;
    width: 100%;
    margin: 80px auto;
    transform: scale(1.25);
}

.bg-image {
    z-index: -1;
    display: block;
    position: relative;
    margin: 0 auto;
    background-image:url(../images/bg-triangle.svg);
    width: 300px;
    height: 275px;
}

.paper-ring {
    width: 120px;
    height: 125px;
    background: linear-gradient(to bottom, hsl(230, 89%, 50%), hsl(230, 89%, 65%));
    border-radius: 50%;
    margin: auto;
    padding: 15px;
    box-shadow: 0px -5px 10px rgba(0,0,0, 0.9) inset;
    text-align: center;
    opacity: 0.8;
}

.paper-ring:hover {
    background: linear-gradient(to bottom, hsl(230, 100%, 62%), hsl(230, 89%, 75%));
    opacity: 1;
    transform: scale(1.05);
    animation-name: floating;
    animation-play-state: running;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-duration: 0.5s;
    transition: all 0.25s ease-out;
}

.scissor-ring {
    width: 120px;
    height: 125px;
    background: linear-gradient(to bottom, hsl(39, 100%, 37%), hsl(40, 84%, 53%));
    border-radius: 50%;
    margin: auto;
    padding: 15px;
    box-shadow: 0px -5px 10px rgba(0,0,0, 0.9) inset;
    text-align: center;
    opacity: 0.8;
}

.scissor-ring:hover {
    background: linear-gradient(to bottom, hsl(39, 89%, 62%), hsl(40, 84%, 75%));
    opacity: 1;
    transform: scale(1.05);
    animation-name: floating;
    animation-play-state: running;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-duration: 0.5s;
    transition: all 0.25s ease-out;
}

.rock-ring {
    width: 120px;
    height: 125px;
    background: linear-gradient(to bottom, hsl(349, 71%, 40%), hsl(349, 70%, 56%));
    border-radius: 50%;
    margin: auto;
    padding: 15px;
    box-shadow: 0px -5px 10px rgba(0,0,0, 0.9) inset;
    text-align: center;
    opacity: 0.8;
}

.rock-ring:hover {
    background: linear-gradient(to bottom, hsl(349, 80%, 53%), hsl(349, 70%, 69%));
    opacity: 1;
    transform: scale(1.05);
    animation-name: floating;
    animation-play-state: running;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-duration: 0.5s;
    transition: all 0.25s ease-out;
}

.symbol-paper {
    width: 90px;
    height: 90px;
    display: block;
    background-color: white;
    border: solid 2px rgba(0,0,0, 0.3);
    border-radius: 50%;
    margin: auto;
    padding: 20px;
    box-shadow: 0px 5px 10px rgba(0,0,0, 0.6) inset;
}

.symbol-scissors {
    width: 90px;
    height: 90px;
    display: block;
    background-color: white;
    border: solid 2px rgba(0,0,0, 0.3);
    border-radius: 50%;
    margin: auto;
    padding: 20px;
    box-shadow: 0px 5px 10px rgba(0,0,0, 0.6) inset;
}

.symbol-rock {
    width: 90px;
    height: 90px;
    display: block;
    background-color: white;
    border: solid 2px rgba(0,0,0, 0.3);
    border-radius: 50%;
    margin: auto;
    padding: 20px;
    box-shadow: 0px 5px 10px rgba(0,0,0, 0.6) inset;
}


/* Text elements / InnerText */

.text-title {
    color: white;
    font-family: var(--fontFam);
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 15px;
    width: 100%;
    text-align: left;
}

.text-score {
    color: hsl(229, 64%, 46%);
    font-family: var(--fontFam);
    font-size: 0.75rem;
    line-height: 2px;
    width: 100%;
    margin-top: 15px;
    text-align: center;
}

.score-value {
    color: hsl(229, 25%, 31%);
    font-family: var(--fontFam);
    font-size: 3rem;
    line-height: 40px;
    width: 100%;
    margin-bottom: 15px;
    text-align: center;
}

/* Choose Text */
.choose-text {
    color: hsl(230, 89%, 62%);
    transition: all 0.25s ease;
}

.rules-btn {
    display: block;
    position: relative;
    top: 200px;
    right: 100px;
    background-color: rgba(0, 0, 0, 0);
    color: hsl(217, 16%, 45%);
    outline: none;
    font-weight: 700;
    width: 150px;
    height: 40px;
    margin: 0 auto;
    border: solid 2px hsl(217, 16%, 45%);
    border-radius: 10px;
    transition: all 0.1s ease;
}

.rules-container {
    width: 100%;
    margin: 0 auto;
    padding-bottom: 20px;
}
.rules-btn:hover {
    outline: none;
    background-color: rgba(255, 255, 255, 1);
    animation-name: floating;
    animation-play-state: running;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-duration: 0.5s;
    transition: all 0.5s ease-out;
}

.modal {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0, 0.5);
    opacity: 1;
    transition: all 0s linear 0.25s;
}

.modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 10px, 15px;
    width: 50%;
    border-radius: 20px;
    opacity: 1;
}

.show-modal {
    opacity: 1;
    visibility: visible;
    transform: scale(1);
    transition: visibility 0s linear 0.25s, opacity 0s;
}

.attribution {
    display: inline-block;
    width: 100%;
    margin: 0 auto;
    text-align: center;
}